<nav class="navbar navbar-expand-lg navbar-gray bg-gray">
    <a class="navbar-brand" href="index.html">
        <img src="../../../assets/logoSeguridad.jpeg" width="40" height="40" class="d-inline-block align-top" alt="">
        Protección Barrial 24hs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" id="active" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registro">Registrarse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tienda">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sobre-nosotros">Sobre nosotros</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary" routerLink="/carrito">Carrito</button>
        </form>
    </div>
</nav>