<div class="container">
  <div class="card">
    <img src="../../../assets/perfil-Nico.jpg" width="150" height="150" alt="imagen de perfil">
    <h2>Nicolás Rafael Molina</h2>
    <p>Tengo 27 años y soy estudiante del Instituto Superior Politécnico Córdoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript.</p>
  </div>
  <div class="card">
    <img src="../../../assets/perfil-Pablo.jpeg" width="150" height="150" alt="imagen de perfil">
    <h2>Pablo Nicolás Villalba</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
  <div class="card">
    <img src="../../../assets/perfil-Martin.jpeg" width="150" height="150" alt="imagen de perfil">
    <h2>Martin Mecodangelo</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
  <div class="card">
    <img src="../../../assets/perfil-Augusto.jpeg" width="150" height="150" alt="imagen de perfil">
    <h2>Augusto Molina</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
</div>
