<div class="container">
  <div class="card">
    <img src="../../../assets/logoSeguridad.jpeg" width="200" height="200" alt="imagen de perfil">
    <h2>Nicolas Molina</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
  <div class="card">
    <img src="../../../assets/logoSeguridad.jpeg" width="200" height="200" alt="imagen de perfil">
    <h2>Nicolas Molina</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
  <div class="card">
    <img src="../../../assets/logoSeguridad.jpeg" width="200" height="200" alt="imagen de perfil">
    <h2>Nicolas Molina</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
  <div class="card">
    <img src="../../../assets/logoSeguridad.jpeg" width="200" height="200" alt="imagen de perfil">
    <h2>Nicolas Molina</h2>
    <p>Estudiante del Instituto Superior Politecnico Cordoba, actualmente cursando 2° Año, con conocimientos de programacion en Java, Python y Javascript. </p>
  </div>
</div>