body {
    background: url(../src/assets/fondoSeg.jpg) no-repeat center top ;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
}